<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Angular Shop</span>
      <span class="spacer"></span>
      <mat-icon class="icon">shopping_cart</mat-icon>
      <mat-icon class="icon">person</mat-icon>
      <mat-icon class="icon">exit_to_app</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<div class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Angular Shop</h1>
      <h2>Wee sell everything</h2>
    </div>
    <div class="header-start">
      <button mat-raised-button color="accent">Get Started</button>
    </div>
  </div>
</div>

<div class="wshop-homepage-promo">
  <div class="wshop-homepage-row">
    <div class="wshop-homepage-promo-img">
    </div>
    <div class="wshop-homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop.</p>
    </div>
  </div>

  <div class="wshop-homepage-row wshop-homepage-reverse-row">
    <div class="wshop-homepage-promo-img">
    </div>
    <div class="wshop-homepage-promo-desc">
      <h2>Fast and Consistent</h2>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.</p>
    </div>
  </div>

  <div class="wshop-homepage-row">
    <div class="wshop-homepage-promo-img">
    </div>
    <div class="wshop-homepage-promo-desc">
      <h2>Versatile</h2>
      <p>Themable, for when you need to stay on brand or just have a favorite color.
        Accessible and internationalized so that all users are welcome.</p>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="footer-list">
    <div class="wshop-footer-logo">
      <div class="footer-logo">
        <img alt="angular" class="wshop-footer-angular-logo" src="/assets/img/angular-transparent.svg">
        <span><a href="https://angular.io">Learn Angular</a></span>
      </div>
    </div>
    <div class="footer-spacer"></div>

    <div class="wshop-footer-copyright">
      <span>Created By <a href="https://github.com/artem-galas">Artem Galas</a> for Angular Workshop</span>
      <span>Code licensed under an MIT-style License.</span>
    </div>
  </div>
</footer>